<script>
  export let recordEmpty;
  export let record = { ...recordEmpty };
  export let collection_name;

  import firebaseConfig from "./firebaseConfig";
  import firebase from "@firebase/app";
  import "@firebase/firestore";

  if (firebase.apps.length === 0) {
    firebase.initializeApp(firebaseConfig);
  }

  const db = firebase.firestore();
  const coll = db.collection(collection_name);
  let records = [];
  coll.onSnapshot(snap => {
    records = snap.docs.map(r => [r.id, r.data()]);
  });
  let recordId;
  function resetRecord() {
    record = { ...recordEmpty };
    recordId = null;
  }
  function saveRecord() {
    if (recordId) {
      coll.doc(recordId).update(record);
    } else {
      coll.add(record);
    }
    resetRecord();
  }
  function loadRecord(id, rec) {
    recordId = id;
    record = rec;
  }
  async function removeRecord(id) {
    await coll.doc(id).delete();
    resetRecord();
  }
</script>

<style>
  div.record {
    position: relative;
  }
  div.controls {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
  }
  div.record:hover div.controls {
    display: block;
  }
</style>

<h1>Edit Record</h1>
<form on:submit|preventDefault={saveRecord}>
  <slot name="input">
    <p>Please provide a slot=input with input fields</p>
  </slot>
  <button type="submit" class="primary small">Save</button>
  <button type="reset" class="secondary small" on:click={resetRecord}>
    Cancel
  </button>
</form>

<h1>Showing: {collection_name}</h1>
<ul>
  {#each records as [id, rec], i}
    <li>
      <div class="record" on:click={() => loadRecord(id, rec)}>
        <div class="controls">
          <button on:click={() => removeRecord(id)} class="secondary small">
            delete
          </button>
        </div>
        <slot name="display" {rec}>
          <p>Please provide a slot=display to display record</p>
        </slot>
      </div>
    </li>
  {/each}
</ul>
