<script context="module">
  import firebaseConfig from "./firebaseConfig";
  import firebase from "@firebase/app";
  import "@firebase/storage";

  if (firebase.apps.length === 0) {
    firebase.initializeApp(firebaseConfig);
  }

  export const storageRef = firebase.storage().ref();

  // computes storage download URL for give file metadata and caches it in metadata
  export async function getStorageURL(metadata) {
    if(!metadata.url) {
      metadata.url = await storageRef.child(metadata.fullPath).getDownloadURL();
    }
    return metadata.url;
  }
</script>

<script>
  export let multiple = true;
  export let accept = "*/*";
  export let path = "files";
  export let uploads = [];
  const pathRef = storageRef.child(path);
  async function uploadFiles(e) {
    const files = e.target.files;
    Array.from(files).forEach(async f => {
      try {
        const snapshot = await pathRef.child(f.name).put(f);
        console.log({ snapshot });
        // remove undefined fields from metadata
        const obj = snapshot.metadata;
        Object.keys(obj).forEach(
          key => obj[key] === undefined && delete obj[key]
        );
        uploads = uploads.concat(obj);
        console.log({ uploads });
      } catch (e) {
        alert(e.message);
      }
    });
  }
</script>

<slot {accept} {multiple} {uploadFiles}>
  <input type="file" {accept} {multiple} on:change={uploadFiles} />
</slot>

<slot name="listing">
  <ul>
    {#each uploads as metadata}
      <li>
        {#await getStorageURL(metadata) then url}
          <a href={url} target="_blank">{metadata.fullPath}</a>
        {/await}
      </li>
    {/each}
  </ul>
</slot>
