<script>
  import FirebaseCollection from "./firebase/Collection.svelte";
  import FirebaseStorage, { getStorageURL } from "./firebase/Storage.svelte";
  import FirebaseLogin from "./firebase/Login.svelte";
  let recordEmpty = { title: "", body: "", type: "", uploads: [] };
  let record = { ...recordEmpty };
  let user;
</script>

<main class="container">
  <FirebaseLogin bind:user />
  <FirebaseCollection collection_name="posts" {recordEmpty} bind:record>
    <div slot="input">
      {#if user && !user.isAnonymous}
        <div class="input-group fluid">
          <input bind:value={record.title} placeholder="title" required />
        </div>
        <FirebaseStorage
          accept="image/*"
          bind:uploads={record.uploads}
          let:accept
          let:multiple
          let:uploadFiles>
          <div class="input-group fluid">
            <label for="input-file">Image</label>
            <input
              id="input-file"
              type="file"
              {multiple}
              {accept}
              on:change={uploadFiles} />
          </div>
        </FirebaseStorage>
        <div class="input-group fluid">
          <textarea bind:value={record.body} placeholder="body" required />
        </div>
        <div class="input-group">
          <label for="typ">type</label>
          <select id="typ" bind:value={record.type}>
            <option />
            {#each ['News', 'Tutorial', 'General'] as opt}
              <option selected={opt == record.type}>{opt}</option>
            {/each}
          </select>
        </div>
        <br />
      {:else}
        <p>Please "Sign In" to create and edit posts and images.</p>
      {/if}
    </div>
    <div slot="display" let:rec>
      <h2>{rec.title}</h2>
      {#each rec.uploads || [] as upload, i}
        {#await getStorageURL(upload) then url}
          <img src={url} alt={upload.fullPath} />
        {/await}
      {/each}
      <h4>type: {rec.type}</h4>
      <pre>{rec.body}</pre>
    </div>
  </FirebaseCollection>
</main>
